.SignUp {
    display: grid;
    grid-template-areas: ". . ."
                         ". content ."
                         ". . .";
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    height: 92vh;
}

.SignUp-content {
    grid-area: content;
}

.SignUp-Form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SignUp-Form > * {
    margin: 20px 0;
}